html {
  background-image: url("\marks resume2\images\white-waves.png");
}
h2 {
  text-align: right;
}

body {
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

h3 {
  border-bottom: 1px solid gray;
}
ul {
  text-align: left;
  margin: 50px;
}
h5 {
    color: rgb(0,135,255);
    background-color: white;
}
p {
  background-color:rgba(192,192,192,0.3);
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  text-align: left;
}
